<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/style.css">

    <title>Top 5 blocos</title>
</head>

<body>
    <div class="background">
        <div class="central">
            <h1>Acabou!</h1>
            <h3>
                <p>Obrigado por ler sobre os melhores blocos do minecraft!</p>
            </h3>
            <div class="imagem-centro">
                <img src="/static/img/agradecimentos.png" alt="">
            </div>
            <div class="botoes-rotas">
                <div class="btn-anterior"><a class="btn btn-secondary" href="/top1" role="button">Voltar</a></div>
                <div class="btn-proximo"><a class="btn btn-primary" href="/" role="button">Tela inicial</a></div>
            </div>

            <h6>
                <p>Agora que você é praticamente um expert, está pronto para ingressar na sua primeira jornada pelo mundo do minecraft!</p>
                <p>Comece a jogar agora clicando <a href="https://www.minecraft.net/pt-br" target="_blank">aqui</a>.</p>
            </h6>


        </div>
    </div>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>