<html>

<head>
    <title>Top 5 Minecraft</title>
    <link rel="stylesheet" href="/TDN04_individual_Marcos_Daniel/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/TDN04_individual_Marcos_Daniel/static/style.css">
    <link rel="icon" type="image/png" href="/TDN04_individual_Marcos_Daniel/static/img/bloco_de_ferro.png">
</head>

<body>
    <h1>Olá Mundo!
        <h1>
            <div class="imagem-centro"> <img src="/TDN04_individual_Marcos_Daniel/static/img/bloco_de_ferro.png">
            </div>

            <script src="/TDN04_individual_Marcos_Daniel/static/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>