<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/style.css">

    <title>Top 5 blocos</title>
</head>

<body>
    <div class="background">
        <div class="central">
            <h1>Top 5 blocos mais daoras do minecraft</h1>
            <div class="imagem-centro">
                <img src="/static/img/steve.png" alt="">
            </div>

            <div class="btn-começar"><a class="btn btn-primary" href="/top5" role="button">Vamos lá!</a></div>
        </div>
    </div>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>