<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/style.css">

    <title>Top 5 blocos</title>
</head>

<body>
    <div class="background">
        <div class="central">
            <h1>Top 1</h1>
            <h3>
                <p>O mais brabo</p>
            </h3>
            <div class="imagem-centro">
                <img src="/static/img/bloco_de_grama.png" alt="">
                <h3>Bloco de grama</h3>
            </div>
            <div class="botoes-rotas">
                <div class="btn-anterior"><a class="btn btn-secondary" href="/top2" role="button">Voltar</a></div>
                <div class="btn-proximo"><a class="btn btn-primary" href="/agradecimentos" role="button">Finalizar</a></div>
            </div>

            <h6>
                <p>É o icone do próprio jogo e ta em todo lugar, sendo de facil acesso e multifuncional para escapar de monstros ou montando abrigos provisórios.</p>
                <p> Parabéns bloco de grama, você é o mais brabo!</p>
            </h6>


        </div>
    </div>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>