<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/style.css">

    <title>Top 5 blocos</title>
</head>

<body>
    <div class="background">
        <div class="central">
            <h1>Top 4</h1>
                <h3>
                    <p>Meu escritório é na praia eu to sempre na área</p>
                </h3>
            <div class="imagem-centro">
                <img src="/static/img/bloco_de_areia.png" alt="">
                <h3>Bloco de Areia</h3>
            </div>
            <div class="botoes-rotas">
                <div class="btn-anterior"><a class="btn btn-secondary" href="/top5" role="button">Voltar</a></div>
                <div class="btn-proximo"><a class="btn btn-primary" href="/top3" role="button">Próximo</a></div>
            </div>

            <h6>
                <p>Da pra fazer vidro esquentando na fornalha. Da pra fazer umas armadilhas muito loucas e uma técnica muito daora de redstone.</p>
            </h6>


        </div>
    </div>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>